<div class="explore">
    <div class="explore__devider">********</div>
    <div class="explore__label">My Links</div>
    <ul class="categories">
            <li class="categories__item"><a href="https://www.instagram.com/gvirtucio/">Instagram</a></li>
            <li class="categories__item"><a href="https://www.flickr.com/photos/gregvirtucio">Flickr</a></li>
            <li class="categories__item"><a href="https://twitter.com/gvirtucio">Twitter</a></li>
			<li class="categories__item"><a href="https://gvpix.com/">GV Pix</a></li>
    </ul>
    <div class="explore__signature">© 2020 by <a href="/">Greg Virtucio</a> • gvirtucio</div>
    </div>
